@import "login";
.messages {
  font-size: smaller;
  color: red;
}
.progress-button {
    position: relative;
    display: inline-block;
    padding: 0 40px;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
    outline: none;
    border: none;
    background: rgb(60, 162, 224);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 3;
}
.progress-login {
    text-transform: none;
    font-size: 18px;
    line-height: 45px;
    padding: 0 25px;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 0px;
    padding-left: 25px;
}
.progress-button .progress {
    background: rgb(38, 152, 221);
}
.progress-button .progress-inner {
    position: absolute;
    left: 0;
    background: rgb(31, 131, 192);
}
.progress-button .content::before, .progress-button .content::after {
    color: rgb(31, 131, 192);
}
.progress-login .content::before, .progress-login .content::after {
    color: rgb(255, 255, 255);
}
a {
    color: rgb(60, 162, 224);
    text-decoration: none;

}
.panel-control a {
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}
growl-notifications {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 1000
}

growl-notifications growl-notification {
    background: rgba(0,0,0,.6);
    color: #fff;
    padding: 15px 30px;
    width: 250px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid rgba(0,0,0,.8)
}

growl-notifications growl-notification .close {
    color: #fff;
    font-size: 16px;
    margin-right: -10px;
    margin-top: 2px
}

growl-notifications growl-notification.growl-primary {
    color: #FFF;
    background: #68b7e7;
    border: 1px solid #2698dd
}

growl-notifications growl-notification.growl-error {
    color: #FFF;
    background: #e7908e;
    border: 1px solid #da524f
}

growl-notifications growl-notification.growl-info {
    color: #FFF;
    background: #85d0e7;
    border: 1px solid #46b8da
}

growl-notifications growl-notification.growl-warning {
    color: #FFF;
    background: #f4c37d;
    border: 1px solid #eea236
}

.panel {
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0;
}
.onoffswitch {
    position: relative;
    width: 55px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
.onoffswitch-checkbox {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 28px;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: all .2s ease-in-out;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0;
}
.onoffswitch-switch {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    display: block;
    width: 26px;
    height: 26px;
    margin: 0 1px 0 0;
    background: rgb(255, 255, 255);
    border-radius: 26px;
    position: absolute;
    top: 1px;
    bottom: 0;
    right: 26px;
    transition: all .2s ease-in-out;
}
.onoffswitch-inner:before {
    content: "";
    background-color: rgb(92, 184, 83);
    color: rgb(255, 255, 255);
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 28px;
    padding: 0;
    line-height: 28px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.onoffswitch-inner:after {
    content: "";
    background-color: rgb(204, 204, 204);
    color: rgb(68, 68, 68);
    text-align: right;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 28px;
    padding: 0;
    line-height: 28px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}
.color-white, .color-white:hover{
    color:rgb(255, 255, 255);
    cursor: pointer;
}
.p-top-10 {
    padding-top: 10px;
}
.in-block {
    display: inline-block;
}
.no-border-radius {
    border-radius: 0;
}