<div class="ng-scope">
  <div class="login-page ng-scope">
    <div class="row">
      <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        <img src="assets/images/flat-avatar.png" class="user-avatar">
        <h1>Ani Theme
        </h1>
        <form role="form" name="registerForm">
          <div class="form-content">
            <div class="form-group">
              <input type="text"
              class="form-control input-underline input-lg"
              placeholder="First Name"
              name="firstName"
              data-ng-model="registerModel.firstname"
              required>
            </div>
            <div class="form-group">
              <input type="text"
              class="form-control input-underline input-lg"
              placeholder="Last Name"
              name="lastName"
              data-ng-model="registerModel.lastname"
              required>
            </div>
            <div class="form-group">
              <input type="text"
              class="form-control
              input-underline
              input-lg"
              placeholder="User Name"
              name="username"
              uib-popover-html="htmlPopover"
              popover-is-open="popoverIsOpen"
              data-ng-model="registerModel.username"
              required>
            </div>
            <div class="form-group">
              <input type="email"
              class="form-control
              input-underline
              input-lg"
              placeholder="Email"
              name="email"
              data-ng-model="registerModel.email"
              required>
            </div>
            <div class="form-group">
              <span class="input-group-btn datepicket-theme-button">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
              <input type="text"
               class="form-control
              input-underline
              input-lg"
              placeholder="Birthday"
               uib-datepicker-popup="{{format}}"
               data-ng-model="registerModel.dob"
               is-open="popup1.opened"
               datepicker-options="dateOptions"
               ng-required="true"
               close-text="Close"
               alt-input-formats="altInputFormats"/>
            </div>
            <div class="form-group">
              <input type="password"
              class="form-control
              input-underline
              input-lg"
              name="password"
              data-ng-model="registerModel.password"
              placeholder="Password"
              required>
            </div>
          </div>
          <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded progress-login" progress-button="registerUser()">
              Register
          </button>
          &nbsp;
          <a ui-sref="login" >
            <button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded progress-button ">
            <span > Login Page
            </span>
            </button>
          </a>
        </form>
      </div>
    </div>
  </div>
</div>
